.config/mpv/scripts/uosc
/.config/gtk-3.0/bookmarks
/.config/gtk-4.0/servers
# Private local configs
.config/fish/local.fish
.config/mozilla/firefox
.config/obsidian
.config/pulse
.local/share/TelegramDesktop
.local/share/fish
.local/share/keyrings
.local/share/nautilus/tags
.local/state/lazygit
.local/state/wireplumber
.local/state
fish_variables
/.config/mimeapps.list
/AGENTS.md

# Editor/application backup files
*.bak
*.dark-backup
