.config/mpv/scripts/uosc
/.config/gtk-3.0/bookmarks
/.config/gtk-4.0/servers
/pi-stuff/skills/calorie-tracker/__pycache__
/pi-stuff/skills/calorie-tracker/opennutrition_foods.tsv
# Private local configs
.config/fish/local.fish
/pi-stuff/skills/workouts/fullstack
/pi-stuff/skills/workouts/fullstack.db
.config/mozilla/firefox
.config/obsidian
.config/pulse
.local/share/TelegramDesktop
.local/share/fish
.local/share/keyrings
.local/share/nautilus/tags
.local/state/lazygit
.local/state/wireplumber
.local/state
fish_variables
